
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 0px 10px;
    border: none;
}
  
.openbtn:hover {
    background-color: #444;
}
  
  
#main {
    transition: margin-left .5s; 
    padding: 10px;
}