<div>
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <button pTooltip="Add comments" tooltipPosition="bottom" (click)="addTextbox()" style="margin: 5px;">
                <fa-icon [icon]="faCommentAlt"></fa-icon>
            </button>
            <button pTooltip="Full Screen" tooltipPosition="bottom" (click)="fullScreen()" style="margin: 5px;">
                <fa-icon [icon]="faExpandArrowsAlt"></fa-icon>
            </button>
            <button (click)="search(searchFile.value)" style="margin-left: 610px;">Search</button>
            <input id="file" type="text" style="margin: 5px;width: 210px;" placeholder="Name or Date(dd-mm-yyyy)"
                #searchFile>
        </div>
        <div class="p-toolbar-group-right">
            <button [id]="tabheader" (click)="save($event)">Save</button>
        </div>
    </p-toolbar>
</div>