<div class="card">
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
  <p-tabView id="closable" *ngIf="tabs.length!=0;else welcome" [controlClose]="true" (onChange)="closeRightBar($event)"
    (onClose)="onClose($event)" [(activeIndex)]="tabIndex" [style]="{'background-color':'#111'}">
    <p-tabPanel id="{{tab.header}}" [closable]="true" *ngFor="let tab of tabs; let i = index" [header]="tab.header">
      <app-editor [tabcontent]="tab.content" [tabheader]="tab.header"></app-editor>
    </p-tabPanel>
  </p-tabView>
  <ng-template #welcome>
    <img src="../src/assets/welcome.jpg" height="100%" width="100%" alt="welcome image">
  </ng-template>
</div>