<div class="card">
  <p-tabView id="closable" *ngIf="tabs.length!=0;else welcome" [controlClose]="true" (onChange)="closeRightBar()" (onClose)="close($event)" [(activeIndex)]="tabIndex" [style]="{'background-color':'#111'}">
    <p-tabPanel id="{{tab.header}}" [closable]="true" *ngFor="let tab of tabs; let i = index" [header]="tab.header">
      <app-editor [tabcontent]="tab.content" [tabheader]="tab.header"></app-editor>
    </p-tabPanel>
  </p-tabView>
  <ng-template #welcome>
    <img src="../src/assets/welcome.jpg" height="630px" alt="welcome image">
  </ng-template>
</div>