
<app-toolbar [tabheader]="tabheader"   [richTextArray]="richTextArray" [tabcontent]="tabcontent" (cropAreaDimensions)="setcropAreaDimensions($event)"  (cropArea)="setCropArea($event)"   (richText) = "setRichText($event)" (paragraphs)="setParagraphs($event)" (textboxes)="setTextboxes($event)" (zoomScale)="setZoomScale($event)" (rotateDegree)="setrotateDegree($event)"></app-toolbar>

<app-editingpanel  (richTextArray)="setRichTextArray($event)"  [cropAreaDimensions]="cropAreaDimensions"  [cropArea]="cropArea" [tabheader]="tabheader"  [richText]="richText" [paragraphs]="paragraphs" [tabcontent]="tabcontent"  [textboxes]="textboxes" [zoomScale]="zoomScale" [rotateDegree]="rotateDegree"></app-editingpanel>

<app-right-sidebar [tabheader]="tabheader"></app-right-sidebar>