.tp-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(238, 225, 225);
    color: rgb(26, 24, 22);
 }
 .tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width:200px;
    
 }
h3{
    color: wheat;
    background: rgb(214, 22, 22); 
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 52px;
    width:200px;
    text-align: right;
    font-size: x-large;


}
p{
   color: wheat;
 }
 .sideview {
    
    background: rgb(49, 43, 43);  
 }