<div>
    <h1 style="margin-top: 100px;color: wheat;margin-left: 100px;font-family: 'Courier New', Courier, monospace;font-weight: bold;">Photo EditX</h1>
    <h6 style="margin-top: 50px;color: #baabd6;margin-left: 100px;font-weight: bold;font-size: medium;">Recent files</h6>
    <div style="margin-top: 50px;">
        <ng-container *ngFor="let i of recent">
            <a style="margin-left: 100px;" href="javascript:void(0)" id={{i}} (click)="openRecent($event)">{{i}}</a><br>
        </ng-container>
    </div>
</div>