<body>
    <div id="title">
        <h2 id="heading">Export Annotations</h2>
    </div>
    <div id="container">
        <h2 class="input">Filter by Name</h2>
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="name">
            <label for="float-input">File Name</label>
        </span>

        <h2 class="input">and/or Filter by Date</h2>
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText [(ngModel)]="date">
            <label for="float-input">Date (dd-mm-yyyy)</label>
        </span>

        <h2 class="input">Save as</h2>
        <p-dropdown id="choose" [options]="format" [(ngModel)]="type" placeholder="Select file format"
            optionLabel="name"></p-dropdown>
    </div>
    <h2 id="status">{{status}}</h2>
    <div id="save">
        <button pButton pRipple (click)="export(name,date,type)" type="button" label="Export"
            class="p-button-rounded"></button>
    </div>

</body>