<body>
    <div id="title">
        <h2 id="heading" >Export Annotations</h2>
    </div>
    <div id="container">
        <h2 id="byName">Filter by Name</h2>
        <input class="input" type="text" placeholder="File Name"  #name>

        <h2 id="byDate">and/or Filter by Date</h2>
        <input class="input" type="text" placeholder=" Date (dd-mm-yyyy)" #date>

        <h2 id="choose">Save as</h2>
        <select (change)="validate(type.value)" class="input" #type>
            <option value="">--select--</option>
            <option value=".csv">csv</option>
            <option value=".pdf">pdf</option>
          </select>
    </div>
    <h2 id="status">{{status}}</h2>
    <div id="save">
       <button (click)="export(name.value,date.value,type.value)">Export</button>
    </div>
    
</body>
