body{
    background-color: rgb(40, 42, 44);
}

#title{

    width: 100%;
    height: 50px; 
    background-color: darkturquoise;
    text-align: center;
}

#container{
    color: white;
    display: inline-flex;
    margin-top: 60px;
}

#heading{

    margin: auto;
    font-weight: 100;
    vertical-align: middle;
    line-height:51px;
}

#byName{
    margin: auto;
    vertical-align: middle; 
    line-height:51px;
    font-size: medium;
    margin-left: 50px;
}

#byDate{

    margin: auto;
    vertical-align: middle; 
    line-height:51px;
    font-size: medium;
    margin-left: 20px;
}

#choose{

    margin: auto;
    vertical-align: middle; 
    line-height:51px;
    font-size: medium;
    margin-left: 20px;
}

#save{
    margin-top: 70px;
    margin-left: 450px;
}

.input{
    margin-left: 10px;
}