<body>
    <div id="title">
        <h2 id="heading" >Export Files</h2>
    </div>
    <div id="container">
        <h2 id="byName">Filter by Name</h2>
        <input class="input" type="text" placeholder="File Name">

        <h2 id="byDate">Filter by Date</h2>
        <input class="input" type="text" placeholder=" Date (dd-mm-yyyy)">

        <h2 id="choose">Save as</h2>
        <select class="input">
            <option value="">--select--</option>
            <option value="csv">.csv</option>
            <option value="xlsx">.xlsx</option>
            <option value="pdf">.pdf</option>
          </select>
    </div>
    <div id="save">
       <button>Save</button>
    </div>
    
</body>
