
<div [id] = "panel" class="container" [style.transform]="'rotate('+degree+'deg) scale('+reduceScale+')'">
    <div class="box" style="overflow:hidden">
        <img [src]="url" [id]=
        "imgname" height="100%" width="100%" [style.transform]="'scale('+scale+') rotate(0deg)'" />
    </div>
    <div [id]="overlay" class="box overlay" >
        <ng-container *ngFor="let i of textboxes">
            <div id="cont{{i}}" [class]="divname" style="width: 100px;height: 30px; display:flex;z-index: 1;position: absolute"
                cdkDragBoundary=".overlay" cdkDrag>
                <input id="text{{i}}" [class]="inputname" (paste)="duplicate()" (copy)="setValue($event)" style="width: 100px;height: 30px;z-index: 1;" type="text" />
                <button id="btn{{i}}" style="z-index: 1;" (click)="remove(i)">X</button>
            </div>
        </ng-container>
    </div>
</div>