<div [id]="panel" class="container" [style.transform]="'scale('+reduceScale+') rotate('+degree+'deg)'">
    
    <div id = "box" class="box" >
        <!-- <drag-scroll> -->
        <img  [src]="url" [id]="imgname" height="100%" width="100%"
            [style.transform]="'scale('+scale+') rotate(0deg)'" />
        <!-- </drag-scroll> -->
    </div>
    <div [id]="overlay"   class="box overlay" >
        <ng-container *ngFor="let i of textboxes">
            <div id="cont{{i}}" [class]="divname" 
                style="width: 100px;height: 30px; display:flex;z-index: 1;position: absolute;"
                cdkDragBoundary=".overlay" cdkDrag>
               
                <input id="text{{i}}" [class]="inputname" maxlength="10" (click)="setValue($event)"
                    (keydown)="checkKeydown($event,i)" (paste)="duplicateTextbox($event)"  (copy)="setValue($event)"
                     style="width: 100px;height: 30px;z-index: 1;background-color: transparent;" type="text" />
                <button id="btn{{i}}" style="z-index: 1;"  (click)="remove(i)">X</button>
            
            </div>
        </ng-container>
        <ng-container *ngFor="let i of paragraphs">
            <textarea autoResize="autoResize" (click)="setValue($event)" [class]="inputname" id={{i}}
                (keydown)="checkKeydown($event,i)" (paste)="duplicateParagraph($event)"  (copy)="setValue($event)"
                style="z-index: 1;position: absolute;width: 200px;background-color: transparent;"  pInputTextarea cdkDragBoundary=".overlay"
                cdkDrag></textarea>
        </ng-container>
        <ng-container *ngFor="let i of richText">
            <div style="width: 200px;height: 240px; display:flex;z-index: 1;position: absolute;"
                cdkDragBoundary=".overlay" cdkDrag>
                <p-editor id={{i}}  (onTextChange)="getRichTextValue($event)"  [class]="inputname" (keydown)="checkDelete($event,i)" 
                    [style]="{'height':'100px','width':'260px'}">
                    <p-header>
                        <span class="ql-formats">
                            <button type="button" class="ql-bold" aria-label="Bold"></button>
                            <button type="button" class="ql-italic" aria-label="Italic"></button>
                            <button type="button" class="ql-underline" aria-label="Underline"></button>
                            <button class="ql-strike" aria-label="Strike"></button>
                            <select class="ql-header">
                                <option value="1">Heading</option>
                                <option value="2">Subheading</option>
                                <option selected="">Normal</option>
                            </select>
                            <select title="Text Color" class="ql-color" defaultValue="rgb(0, 0, 0)">
                                <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
                                <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
                                <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
                                <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
                                <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
                                <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
                                <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
                            </select>
                            
                            <select title="Background Color" class="ql-background" defaultValue="rgb(255, 255, 255)">
                                <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
                                <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
                                <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
                                <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
                                <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
                                <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
                                <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
                            </select>

                        </span>

                    </p-header>
                </p-editor>
            </div>
        </ng-container>
    </div>

</div>