<div [id]="rightSidebar" class="sidebar">
    <a href="javascript:void(0)" id="close" class="closebtn" (click)="closeRightBar()">&times;</a>
    <div *ngIf="btnPressed=='adjust_btn';else editText">
        
            <h3>Adjustments</h3>
            <h5 style="color: cornsilk;margin-left: 30px;margin-top: 30px;">Brightness</h5>
            <div style="width: 220px;margin-left: 30px;margin-top: 10px;">
                <p-slider [(ngModel)]="brightness" [min]="-100" [max]="100" (onChange)="changeBrightness($event)">
                </p-slider>
            </div>
       
    </div>

    <ng-template #editText>
        <div>
            <h3>Edit Text</h3>
            <h5 style="color: cornsilk;margin-left: 30px;margin-top: 30px;">Font</h5>
            <p-dropdown  class="choose" optionLabel="name" [options]="fonts" [(ngModel)]="type" (onClick)="changeFont(type)"  (onChange)="changeFont(type)"  placeholder="Select font"></p-dropdown>
            <h5 style="color: cornsilk;margin-left: 30px;margin-top: 30px;">Font Colour</h5>
            <p-colorPicker class="choose" (onChange)="changeColor()" [(ngModel)]="color"></p-colorPicker>
            <h5 style="color: cornsilk;margin-left: 30px;margin-top: 30px;">Font Size</h5>
            <div style="width: 220px;margin-left: 30px;margin-top: 10px;">
            <p-slider [(ngModel)]="fontSize" [min]="16" [max]="50" (onChange)="changeFontSize($event)"></p-slider>
        </div>
        </div>
    </ng-template>


</div>