@import '../node_modules/primeng/resources/themes/nova-accent/theme.css';    
@import '../node_modules/primeicons/primeicons.css';   
@import '../node_modules/primeng/resources/primeng.min.css';   
@import '~bootstrap/dist/css/bootstrap.min.css'; 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(34, 30, 30);}


